{% extends "base.html" %}
{% load mezzanine_tags %}

{% block main %}

{% if not request.user.is_authenticated %}
    <p>Il faut d'abord te <a href="{% url "login" %}?next={{ request.path }}">connecter</a> avant de pouvoir remplir tes FichGRAMs.</p>
{% endif %}

{% if not inscrit %}
    <p>Il faut d'abord t'<a href="/respos/inscription/?next={{ request.path }}">inscrire</a> avant de pouvoir remplir tes FichGRAMs.</p>
{% endif %}

{% if request.user.is_authenticated and inscrit %}
    {% editable page.richtextpage.content %}
        {{ page.richtextpage.content|richtext_filters|safe }}
    {% endeditable %}
{% endif %}

{% endblock %}
