{% extends "accounts/account_form.html" %}
{% load i18n future %}

{% block main %}

{% if request.user.is_authenticated %}
    <p>
        Tu es déjà connecté(e).
    </p>
{% else %}
    <p>
        Si tu n'as pas de compte et que tu es adhérent(e) EEDF, tu peux
        <a href="https://galilee.eedf.fr/adherents/activercompte/?next={{ request.GET.next }}">
            en créer un
        </a>
        dès maintenant.
    </p>
    <p>
        Tu peux aussi
        <a href="https://galilee.eedf.fr/adherents/motdepasse/">
            réinitialiser ton mot de passe
        </a>
        si tu l'as oublié.
    </p>
    {{ block.super }}
{% endif %}

{% endblock %}

