{% extends "accounts/account_form.html" %}
{% load i18n future %}

{% block main %}

{% if request.user.is_authenticated %}
    <p>{% trans "You're already logged in." %}</p>
{% else %}
    {{ block.super }}
    <p>{% blocktrans with next=request.GET.next signup_url="https://galilee.eedf.fr/adherents/activercompte/" %}Si vous n'avez pas de compte et que vous êtes adhérent EEDF, vous pouvez <a href="{{ signup_url }}?next={{ next }}">en créer un</a> dès maintenant.{% endblocktrans %}</p>
    {% url "profile_update" as profile_update_url %}
    {% blocktrans with password_reset_url="https://galilee.eedf.fr/adherents/motdepasse/" %}<p>Vous pouvez aussi <a href="{{ password_reset_url }}">réinitialiser votre mot de passe</a> si vous l'avez oublié.</p>{% endblocktrans %}</p>
{% endif %}

{% endblock %}

